services:
    ioni_payzen.twig.twig_extension:
        class: Ioni\PayzenBundle\Twig\TwigExtension
        public: false
        tags:
          - { name: twig.extension }

    ioni_payzen.signature_handler:
        class: Ioni\PayzenBundle\Service\SignatureHandler
        arguments: []

    ioni_payzen.form_fields_generator:
        class: Ioni\PayzenBundle\Service\FormFieldsGenerator
        arguments: ['@router', '@ioni_payzen.signature_handler']

    ioni_payzen.payment_notification_handler:
        class: Ioni\PayzenBundle\Service\PaymentNotificationHandler
        arguments: []
